{{ 'header.css' | asset_url | stylesheet_tag }}

<div class="headerBanner">
    <p>Our products with the best prices</p>
    <div class="headerBanner__icon">{% render 'arrow-right-icon' %}</div>
    <a href="#">Visit them</a>
</div>