*{
    margin: 0;
    padding: 0;
}
:root {
    --white-color: #F5F5F7;
    --gray-color: #959595;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/********************** Navbar styles **************************/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    width: 90%;
}

.navbar__links a{
    color: #000;
    text-decoration: none;
    margin-right: 10px;
    font-size: 1.2rem;
    transition: all .2s;
}

.navbar__links a:hover {
    text-decoration: underline;
    opacity: 50%;
}

.navbar__links a:active {
    text-decoration: underline;
    /* opacity: 50%; */
}

.navbar__icons {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    /* cursor: pointer; */
}

/* .navbar__icons span {
    border: 1px solid green;
    display: inline-block;
    width: 50px;
} */

.navbar__icons_item {
    display: inline-block;
    width: 20px;
    /* margin-right: 10px; */
    cursor: pointer;
}

.navbar__icons_item-cart {
    width: 40px;
}

.navbar__icons_item-search {
    margin-right: 25px;
}

.navbar__icons_item-close {
    width: 25px;
}

.formSearch {
    display: none;
}

.formSearchVisible {
    display: flex;
    align-items: center;
}

.formSearchVisible span {
    margin: 5px;
}

.inputSearch {
    width: 500px;
    padding: 10px 15px;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    margin-right: 5px;
}

.inputSearch:focus {
    outline: 1px solid #d3d3d3;
}

.submit {
    background-color: #fff;
    border: none;
}

.navbar_icons_item-hamburguer {
    width: 17px;
}

.navbar_icons_item-closeHamburguer {
    width: 27px;
}

/* input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
} */

.highlight {
    background-color: #d3d3d3;
}

.elementAAnimar {
    animation: nombreDeLaAnimacionAEjecutar 1s;
}

.hideElement {
    display: none;
}

@keyframes nombreDeLaAnimacionAEjecutar {

    0% {
        opacity: 0%;
    }

    25% {
        opacity: 25%;
    }

    50% {
        opacity: 50%;
    }

    75% {
        opacity: 75%;
    }

    100% {
        opacity: 100%;
    }

}

.menu-side{
    display: none;
}

.hideHamburgerIcon{
    display: none;
}

/************************** Responsive design *************************/

@media screen and (max-width: 768px){

    .navbar_icons_item-hamburguer {
        display: inherit;
    }

    .navbar__icons_item, .menu-center-links{
        display: none;
    }

    /* .menu-center-links {
        display: none;
    } */

    .formSearch {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar__links, .inputSearch {
        max-width: 70%;
    }

    .navbar__icons_item-searchForm {
        display: inherit;
        width: 17px;
    }

    .formSearchVisible span {
        margin: 0 10px;
    }

    .navbar__icons_item-searchForm{
        margin-right: 0;
    }

    .navbar__logo img {
        width: 70px;
    }

    .menu-side {
        background-color: #F5F5F7;
        width: 350px;
        height: 100vh;
        position: absolute;
        right: 0;
    }

    .menu-side__links {
        display: flex;
        flex-direction: column;
    }

    .menu-side__links a {
        text-decoration: none;
        text-align: center;
        padding: 20px 0;
        border-bottom: 1px solid #d3d3d3;
        color: #000;
        font-size: 18px;
    }

    .menu-side__links a:hover {
        background-color: rgb(218, 218, 219);;
    }
}
